
<ion-tabs >
  <ion-tab-bar slot="button">
    <ion-tab-button tab="registro">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Registro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Salida</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>LLegada</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Premisación</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
