<ion-header>
  <ion-toolbar>


    <ion-row>
      <ion-col  size="10">
        <ion-title style="text-align: center; margin-top: 15px;">GESTION COMPETIDORES</ion-title>

      </ion-col>
      <ion-col  size="2" >
        <ion-fab-button (click)="mostrarInformacionGeneral()" color="light">
          <ion-icon name="people-outline"></ion-icon>
        </ion-fab-button>

      </ion-col>
    </ion-row>
  

  </ion-toolbar>



</ion-header>

<ion-content>


  <div  style="display: flex; justify-content: center; align-items: center; height: 100%;">
    <ion-grid>
      <ion-row>
        <ion-col >
  
          <ion-item>
            <ion-label position="stacked">Usuario</ion-label>
            <ion-input type="text" placeholder="Nombre / Usuario" [(ngModel)]="user"></ion-input>
          </ion-item>
        
  
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col >
  
          <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input type="text" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
          </ion-item>
        
  
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col >
          <ion-button expand="block" (click)="login()" color="danger" >Login</ion-button>
    
        </ion-col>
      </ion-row>

  
    </ion-grid>
  
  </div>


</ion-content>
