<ion-header>
  <ion-toolbar>

  
    <ion-title style="text-align: center;">GESTION COMPETIDORES</ion-title>


  </ion-toolbar>



</ion-header>

<ion-content>


  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-row>
      <ion-col style="display: flex; justify-content: center; align-items: center;">
        <ion-label position="stacked">Información</ion-label>

      </ion-col>
      <ion-col>
        <ion-fab-button  color="light">
          <ion-icon name="people-outline"></ion-icon>
        </ion-fab-button>
    
      </ion-col>

    </ion-row>

  </ion-fab>


  <div  style="display: flex; justify-content: center; align-items: center; height: 100%;">
    <ion-grid>
      <ion-row>
        <ion-col >
  
          <ion-item>
            <ion-label position="stacked">Usuario</ion-label>
            <ion-input type="text" placeholder="Nombre / Usuario" [(ngModel)]="user"></ion-input>
          </ion-item>
        
  
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col >
  
          <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input type="text" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
          </ion-item>
        
  
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col >
          <ion-button expand="block" (click)="login()" color="danger" >Login</ion-button>
    
        </ion-col>
      </ion-row>

  
    </ion-grid>
  
  </div>


</ion-content>
